<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.mall.MemberMapper">

	<insert id="insert">
		insert into ${memberTable}
		(${memberId}, ${password}, ${name}, ${phone}, ${email},${address}, ${userGrade})
		values (#{memberId}, #{password}, #{name}, #{phone}, #{email},
		#{address}, #{userGrade})
	</insert>

	<select id="select_all" resultType="MemberVO">
		select * from ${memberTable}
	</select>

	<update id="update" parameterType="map">
		update ${memberTable}
		set 
		${password} = #{password},
		${name} = #{name},
		${phone} = #{phone},
		${email} = #{email},
		${address} = #{address},
		${userGrade} = #{userGrade}
		where ${memberId} = #{memberId}
	</update>
	
	<delete id="delete">
		delete from ${memberTable}
		where ${memberId} = #{memberId}
	</delete>


</mapper>