<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.mall.ProductQnaMapper">
	<insert id="insert">
	insert into ${prdQna_table}
		(${prdQnaContent}, ${prdQnaCategory}, ${prdQnaSecret}, ${memberId}, ${productId})
		values(#{prdQnaContent}, #{prdQnaCategory},#{prdQnaSecret},#{memberId},#{productId})
	</insert>
	
	


</mapper>