<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.mall.QnaReplyMapper">

	<insert id="insert">
		insert into ${qna_reply}
		(${qnaBoardId}, ${memberId}, ${qnaReplyContent})
		values (#{qnaBoardId}, #{memberId}, #{qnaReplyContent})	
	</insert>

	<select id="select_all_by_qna_board_id" resultType="QnaReplyVO">
		select * from ${qna_reply}
		where ${qnaBoardId} = #{qnaBoardId}
		order by ${qnaReplyId}
	</select>

	<update id="update">
		update ${qna_reply}
		set ${qnaReplyContent} = #{qnaReplyContent}
		where ${qnaReplyId} = #{qnaReplyId}
	</update>

	<delete id="delete">
		delete from ${qna_reply}
		where ${qnaReplyId} = #{qnaReplyId}
	</delete>

</mapper>











