<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">

	

	

	<http pattern="/member" security="none"></http>
	<http pattern="/member/checkid" security="none"></http>
	<http pattern="/member/register" security="none"></http>
	<http pattern="/member/login" security="none"></http>
	<http pattern="/member/loginForm/*" security="none"></http>

	<http auto-config="true" use-expressions="true">
	 <intercept-url pattern="/index" access="isAuthenticated()"/>
		<form-login login-page="/member/loginForm"
			login-processing-url="/login"
			default-target-url="/index"
			authentication-failure-url="/member/loginForm?error"
			username-parameter="memberId" 
			password-parameter="password" />
			
			<remember-me key="myAppKey"/>
	</http>
	
	
	
	
	
	



<!-- 비밀번호 암호화 -->
<b:bean id="PasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
<b:bean id="CustomUserDetailService" class="edu.spring.mall.service.CustomUserDetailService" />


<authentication-manager>
	<authentication-provider user-service-ref="CustomUserDetailService">
		<password-encoder ref="PasswordEncoder" />
	</authentication-provider>
</authentication-manager>
</b:beans>

<!--  -->