<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 핸들러 빈 -->
	<b:bean id="accessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl" />
	<b:bean id="accessSuccessHandler" class="edu.spring.mall.security.CustomAuthenticationSuccessHandler"/>
	<b:bean id="rememberMeTokenRepository" class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
    <b:property name="dataSource" ref="ds"/>
	</b:bean>
	
	<b:bean id="ajaxAwareAuthenticationEntryPoint" class="edu.spring.mall.security.AjaxAwareAuthenticationEntryPoint">
    <b:constructor-arg value="/member/loginForm"/>
	</b:bean>
	
	<http pattern="/member/checkid" security="none"/>
	<http pattern="/resources/**" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/qnaBoard/replies/*" security="none"/>
	<http pattern="/qnaBoard/replies" security="none"/>
	<http pattern="/qnaBoard/qnaRegister" security="none"/>
	<http pattern="/product/register" security="none"/>
	
	
	
	
	<http auto-config="true" use-expressions="true">
	 <access-denied-handler ref="accessDeniedHandler"/>
	 <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
	 <intercept-url pattern="/index" access="permitAll"/>
	 <intercept-url pattern="/member/loginForm" access="isAnonymous()"/>
	 <intercept-url pattern="/member/login" access="isAnonymous()"/>
	 <intercept-url pattern="/member/register" access="isAnonymous()"/>
	 <intercept-url pattern="/member/delete" access="isAuthenticated()"/>
	 <intercept-url pattern="/member/mypage" access="isAuthenticated()"/>
	 <intercept-url pattern="/member/likes" access="isAuthenticated()"/>
	 <intercept-url pattern="/member/passwordCheck" access="isAuthenticated()"/>
	 <intercept-url pattern="/info" access="isAuthenticated()"/>
	 <intercept-url pattern="/logout" access="isAuthenticated()"/>
	 <intercept-url pattern="/mall/logout" access="isAuthenticated()"/>
	 <intercept-url pattern="/product/payment/**" access="isAuthenticated()"/>
	 <intercept-url pattern="/product/orderlist/**" access="isAuthenticated()"/>
	 <intercept-url pattern="/product/orderlist" access="isAuthenticated()"/>
	 <intercept-url pattern="/product/likes" access="isAuthenticated()"/>

	 <!--  
	 <intercept-url pattern="/product/register" access="hasRole('ROLE_ADMIN')"/>
	 -->

	 

	 
	 
    <http-basic entry-point-ref="ajaxAwareAuthenticationEntryPoint" />

		<form-login login-page="/member/loginForm"
			login-processing-url="/login"
			default-target-url="/"
			always-use-default-target="false"
			authentication-success-handler-ref="accessSuccessHandler"
			authentication-failure-url="/member/loginForm?error"
			username-parameter="memberId" 
			password-parameter="password" />
			 <remember-me token-repository-ref="rememberMeTokenRepository" key="athwartbriefly"/>
				
			<logout
				logout-url="/logout"
				logout-success-url="/index"
				delete-cookies="JSESSIONID, remember-me"/>
	
	</http>
	
<!-- 비밀번호 암호화 -->
	<b:bean id="PasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<b:bean id="CustomUserDetailService" class="edu.spring.mall.security.CustomUserDetailService" />
	

	<authentication-manager>
		<authentication-provider user-service-ref="CustomUserDetailService">
			<password-encoder ref="PasswordEncoder" />
		</authentication-provider>
	</authentication-manager>
</b:beans>

<!--  -->