<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    https://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security.xsd">


	<http auto-config="true">
	<bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
		<constructor-arg>
			<bean class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
				<property name="userDetailsService" ref="userDetailsService" />
				<property name="passwordEncoder" ref="passwordEncoder" />
			</bean>
		</constructor-arg>
	</bean>
	
	<csrf disabled="true" />
		<intercept-url pattern="/member/**" access="permitAll" />
		<intercept-url pattern="/mall/index" access="permitAll" />
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/login-processing-url" access="permitAll" />
		<form-login login-page="/member/login"
			default-target-url="/mall/index" 
			login-processing-url="/login"
			username-parameter="memberId" 
			password-parameter="password" />
	</http>
	
	


	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="{noop}1234"
					authorities="ROLE_ADMIN" />
				<user name="user" password="{noop}1234" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
	<bean id="passwordEncoder"
    	    class="org.springframework.security.crypto.factory.PasswordEncoderFactories" factory-method="createDelegatingPasswordEncoder"/>

</beans:beans>
                                 
                             