@charset "UTF-8";

.like-btn {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid red;
    cursor: pointer;
    position: relative;
}

.heart {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>') center no-repeat;
}

.heart-filled {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>') center no-repeat;
}

.btn-xl {
  padding: 1rem 1.5rem; /* 상하 좌우 패딩을 늘립니다 */
  font-size: 1.25rem; /* 글꼴 크기를 늘립니다 */
  line-height: 1.5; /* 줄 높이를 조정합니다 */
  border-radius: 0.3rem; /* 테두리 반경을 조정합니다 */
}
.dot::before {
    content: '';
    display: inline-block;
    width: 10px;
    /* 점의 크기 */
    height: 10px;
    /* 점의 크기 */
    background-color: #ccc;
    /* 회색 */
    border-radius: 50%;
    /* 원형으로 만들기 */
    opacity: 0.5;
    /* 흐릿하게 만들기 */
    
}



.text-dark {
  color: #343a40 !important; 
  text-align: center;
}



